<div class="profile-page" *ngIf="profile?.username != 'undefined'">

    <div class="user-info">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img [src]="profile?.image" alt="avata" class="user-img" />
                    <h4>{{ profile?.username }}</h4>
                    <p>{{ profile?.bio }}</p>
                    <button *ngIf="currentUser?.user?.username !== profile?.username && !profile?.following"
                        class="btn btn-sm btn-outline-secondary action-btn" (click)="followUser()">
                        <i class="ion-plus-round"></i>
                        &nbsp;
                        Follow {{ profile?.username }}
                    </button>
                    <button *ngIf="currentUser?.user?.username !== profile?.username && profile?.following"
                        class="btn btn-sm btn-outline-secondary action-btn" (click)="unFollowUser()">
                        <i class="ion-plus-round"></i>
                        &nbsp;
                        UnFollow {{ profile?.username }}
                    </button>
                    <button *ngIf="currentUser?.user?.username === profile.username"
                        class="btn btn-sm btn-outline-secondary action-btn" [routerLink]="['/setting']">
                        <i class="ion-gear-a"></i>
                        &nbsp;
                        Edit Profile Settings
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item article" (click)="getMyArticle()">
                            <a class="nav-link" [ngClass]="switchPage ? 'active' : ''">My Articles</a>
                        </li>
                        <li class="nav-item article" (click)="getFavoriteArticle()">
                            <a class="nav-link" [ngClass]="switchPage ? '' : 'active'">Favorited Articles</a>
                        </li>
                    </ul>
                </div>
                <div class="article-preview" *ngIf="loadPending">
                    loading articles...
                </div>
                <div *ngIf="listArticle?.articles.length > 0">
                    <app-article-item *ngFor="let el of listArticle?.articles" [article]="el"
                        [changeStyle]="changeStyleArticle">
                    </app-article-item>
                </div>
                <div class="article-preview" *ngIf="totalPage.length > 1 && pagiPending">
                    loading articles...
                </div>
                <div *ngIf="listArticle?.articles.length < 1" class="article-preview">
                    No articles are here... yet.
                </div>
                <app-pagination *ngIf="totalPage.length > 1" [totalPage]="totalPage"
                    (onSelectedPage)="handleSelectPage($event)">
                </app-pagination>
            </div>
        </div>
    </div>
</div>